body{
	font-size: 16px;
	font-family: montserrat, Arial, Helvetica, tahoma, verdana, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, serif;
}
body,ul,li{
	margin: 0;
	padding: 0;
	border: 0;
}

a{
	text-decoration: none;
}

.container{
	max-width: 1200px;
}
.top{
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}
.logo{
	width: 400px;
	height: 60px;
	float: left;
}

.header .top ul{
	float: right;
	list-style: none;
}

.header .top ul li{
	display: block;
	float: left;
	width: 90px;
	height: 60px;
	border-left: 1px solid #d5d3d3;
	border-right: 1px solid #d5d3d3;
	text-align: center;
	padding-top: 10px;
	margin-left: -1px;
	cursor: pointer;
}

.header .top ul li a{
	padding-top: 10px;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	display: block;
}

.header .bottom{
	background-color: #0065a5;
	color: #ffffff;
}

.navbar{
	margin: 0 auto;
	text-align: center;
	height: 61px;
}

.menu-list{
	list-style: none;
	display: inline-block;
}

.menu-item{
	float: left;
	position: relative;
}

.menu-item>a{
	display: block;
	padding: 20px 30px;
}

.menu-item:hover{
	background-color: #4590cd;
}

.menu-item:hover .sec-list{
	visibility: visible;
}

.menu-item>a{
	color: #ffffff;
}

.sec-list{
	padding: 15px;
	position: absolute;
	left: 0;
	top: 100%;
	visibility: hidden;
	background-color: #4590cd;
}

.menu-sec-item{
	padding: 7px 15px;
	cursor: pointer;
}

.menu-sec-item:hover{
	background-color: #0065a5;
}
