body{
	font-size: 16px;
	font-family: montserrat, Arial, Helvetica, tahoma, verdana, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, serif;
}
body,ul,li{
	margin: 0;
	padding: 0;
	border: 0;
}

a{
	text-decoration: none;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}
.top{
	width: 100%;
	overflow: hidden;
}
.logo{
	width: 400px;
	height: 60px;
	float: left;
}

.header .top ul{
	float: right;
	list-style: none;
}

.header .top ul li{
	display: block;
	float: left;
	width: 90px;
	height: 60px;
	border-left: 1px solid #d5d3d3;
	border-right: 1px solid #d5d3d3;
	text-align: center;
	padding-top: 10px;
	margin-left: -1px;
	cursor: pointer;
}

.header .top ul li a{
	padding-top: 10px;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	display: block;
}

.header .bottom{
	background-color: #0065a5;
	color: #ffffff;
}

.navbar{
	margin: 0 auto;
	text-align: center;
	height: 61px;
}

.menu-list{
	list-style: none;
	display: inline-block;
}

.menu-item{
	float: left;
	position: relative;
}

.menu-item>a{
	display: block;
	padding: 20px 30px;
}

.menu-item:hover{
	background-color: #4590cd;
}

.menu-item:hover .sec-list{
	visibility: visible;
}

.menu-item>a{
	color: #ffffff;
}

.sec-list{
	padding: 15px;
	position: absolute;
	left: 0;
	top: 100%;
	visibility: hidden;
	background-color: #4590cd;
	z-index: 99999;
}

.menu-sec-item{
	padding: 7px 15px;
	cursor: pointer;
	width: 112px;
	text-align: left;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.menu-sec-item:hover{
	background-color: #0065a5;
}

.panel{
	margin: 10px 0;
	width: 540px;
	background: #7fb2d2;
	overflow: hidden;
	height: 50px;
}

.panel-left{
	float: left;
}

.panel-right{
	float: right;
}

.main .header{
	width: 540px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px;
	cursor: pointer;
}

.sliper{
	width: 1200px;
	overflow: hidden;
	position: relative;
}

.sliper .sliperCon{
	width: 3600px;
	position: relative;
	left: -1200px;
}

.sliper .imgCon{
	width: 1200px;
	float: left;
	position: relative;
}

.sliper .img{
	height: 475px;
}

.sliper .imgDetail{
	position: absolute;
	bottom: 0;
}

.img1{
	background-color: rebeccapurple;
}

.img2{
	background-color: orange;
}

.img3{
	background-color: green;
}

.arrow{
	position: absolute;
	top:43.3%;
	width: 100%;
}

.sliper .arrow-left{
	width: 30px;
	height: 30px;
	background-color: #0065a5;
	float: left;
	cursor: pointer;
}

.sliper .arrow-right{
	width: 30px;
	height: 30px;
	background-color: #0065a5;
	float: right;
	cursor: pointer;
}

.contact{
	font-size: 24px;
	margin: 10px 0;
	text-align: center;
}

.promotions-box{
	float: left;
	width: 33.3333%;
	background-color: #0f9bb5;
	margin-right: 10px;
	color: #ffffff;
}

.promotions .top{
	margin-top: 10px;
	position: relative;
}

.promotions .overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 244px;
	width: 100%;
}

.promotions .overlay p{
	padding: 25px;
	position: relative;
	top: 20%;
	text-align: center;
}

.promotions .img{
	width: 388px;
	height: 244px;
}

.promotions .bottom{
	padding-bottom: 10px;
	text-align: center;
}

.promotions .bottom p{
	margin-top: 5px;
}

.promotions .bottom a{
	margin-top: 20px;
	display: inline-block;
	padding: 12px 20px;
	border-radius: 6px;
	border: 2px solid #ffffff;
	font-size: 15px;
	color: #ffffff;
}