<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<div class="header">
		<div class="top container">
			<div class="logo"></div>
			<ul>
				<li><span>搜索</span><a class="fa fa-search fa-lg"></a></li>
				<li><span>医疗网络</span><a class="fa fa-map-marker fa-lg"></a></li>
				<li><span>电话</span><a class="fa fa-phone fa-lg"></a></li>
				<li><span>语言</span><a class="fa fa-globe fa-lg"></a></li>
				<li><span>关注我们</span><a class="fa fa-weibo fa-lg"></a></li>
			</ul>
		</div>
		<div class="bottom container">
            <div class="navbar">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="">地点</a>
                    </li>
                    <li class="menu-item">
                        <a href="">医疗服务</a>

                    </li>
                    <li class="menu-item">
                        <a href="">健康信息</a>
                        <ul class="menu-list sec-list">
                            <li class="menu-sec-item">健康信息</li>
                            <li class="menu-sec-item">推广套餐</li>
                            <li class="menu-sec-item">健康课堂</li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="">患者及访客信息</a>
                    </li>
                    <li class="menu-item">
                        <a href="">加入我们</a>
                    </li>
                </ul>
            </div>
        </div>
	</div>

</body>
</html>